:root {
  --white: #fafaff;
  --grey: #e9ecef;
  --dark: #1d3557;
  --red: #e63946;
  --primary-color: #003049;
  --secondary-color: #669bbc;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Karla", sans-serif;
  text-align: center;
}
.Boutons1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
  margin: 8px;
  padding: 6px;
}
.Event {
  font-size: large;
  font-weight: 700;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--grey);
  border: none;
  /*backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px);*/
}
.Multisearch {
  font-size: large;
  font-weight: 700;
  padding: 20px;
  background-color: var(--primary-color);
  border-radius: 30px;
  color: var(--grey);
  border: none;
  /*  backdrop-filter: blur(4px) saturate(180%);
  -webkit-backdrop-filter: blur(4px);*/
}
@media screen and (max-width: 425px) {
  .Boutons1 {
    display: none;
  }
}
