@media (min-width: 425px) {

    .alldescription {
        max-width: fit-content;
       /*display: block; */
        
        }
    .desccond {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
       /* display: flex; */
        justify-content: center; 
        align-items: center;
        margin-right: 0.5rem;
        margin-left: 1rem;
    }
    .hrtop{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .hrbot{
        margin-left: 3rem;
        margin-right: 3rem;
    }
    .adress {
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        display: flex;
        justify-content: left;
        margin-left: 3rem;
    }
    .dateadress {
        display: block;
        align-items: left;
    
    }
    .descirptiondatelist{
        display: flex;
        justify-content: space-around;
        list-style-type: none;
        align-items: center;
    }
    .location{
            display: flex;
            justify-content: space-around;
           
    }
    .longdescr{
        margin-right: 2rem;
        margin-left: 2rem;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    .booking {
        color: white;
        background-color: red;
        height: 3rem;
        width: 100%;
    }
    .pic{
        color: bisque;
        max-width: 100%;
    }
    .location{
        display: flex;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        justify-content: center;
        align-items: center;
    }
    
    }
        