@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@media (min-width: 300px) {
  .singleEvent-fav {
    border-radius: 1rem;
    display: flex;
    flex-direction: row-reverse;
    overflow-y: scroll;
    width: 90%;
    box-sizing: border-box;
    background-color: white;
    margin: 3%;
  }
  img.imageEvent-fav {
    display: inline-block;
    border: 0.1rem;
    border-radius: 5rem;
    width: 100%;
    height: 6rem;
    border-radius: 20% 10% / 0% 0%;
  }
  .titleevent-fav {
    font-size: small;
    align-items: center;
    max-height: 3rem;
    max-width: 80%;
    margin-left: 1rem;
    overflow-y: scroll;
  }
  .container-top-fav {
    position: relative;
    width: 100%;
    order: 2;
  }
  .container-top-fav img {
    display: block;
    width: 100%;
    max-width: 12rem;
  }
  .eventdatelist-fav {
    list-style-type: none;
    margin-left: -1rem;
    position: absolute;
    left: 7.5rem;
    z-index: 1;
    border-radius: 5rem;
    background-color: white;
    padding-right: 1rem;
    padding-left: 1rem;
  }
  .eventdatelist-fav li {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: #669bbc;
    font-size: small;
    text-align: center;
  }
  .container-bot-fav {
    display: flex;
    align-items: center;
    order: 1;
  }
  #icon-cardList {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
  }
  .fav-title {
    justify-content: center;
    color: #1d3557;
    font-family: "Karla", sans-serif;
    margin-right: 2rem;
  }
}

@media (min-width: 1024px) {
  .singleEvent {
    border-radius: 1rem;
    overflow: hidden;
    width: 17rem;
    height: 12rem;
    margin: 2.5%;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: 1;
  }
  .container-bot {
    height: 5rem;
    display: flex;
    justify-content: space-around;
  }
  #icon-cardList {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
  }
}
