@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap");

:root {
  --white: #fafaff;
  --grey: #e9ecef;
  --dark: #1d3557;
  --red: #e63946;
  --primary-color: #003049;
  --secondary-color: #669bbc;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  padding-bottom: 55px;
  /* font-family: 'Inter', sans-serif; */
  font-family: "Karla", sans-serif;
}

header {
  background-image: linear-gradient(
      to bottom,
      rgba(0, 48, 73, 0.6),
      rgba(0, 48, 73, 0.6)
    ),
    url("https://images.unsplash.com/photo-1687360441027-27e70655b27e?auto=format&fit=crop&q=80&w=1883&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-size: cover;
  height: 26em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  color: var(--white);
  font-size: 40px;
  font-weight: 700;
}

header h2 {
  color: var(--white);
  font-size: 40px;
  width: 80%;
  font-weight: 700;
}

.searchBar-container {
  width: 80%;
  /* padding: 4% 0; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.applyFilterBtn {
  width: 100%;
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding: 3%;
  font-size: 30px;
  font-weight: bold;
  margin-top: 25px;
  bottom: 0;
  left: 0;
  position: absolute;
}

.error-display {
  font-size: 25px;
}

.zoneFilter h2,
.dateFilter h2,
.activityFilter h2 {
  display: flex;
  align-items: center;
  padding-left: 2em;
}

.zoneFilter {
  padding-top: 1em;
}

html {
  overflow: hidden;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  height: 100%;
  position: fixed;
  overflow-y: scroll;
  /* margin-bottom: 200px; */
}
/* 
.searchBar-container {
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.searchBar {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: rgba(102, 155, 188, 0.2);
  border-radius: 30px;
  backdrop-filter: blur(4px) saturate(180%);
  /* margin-right: 6.5rem; */
}
.searchBar input {
  flex: 1;
  background-color: transparent;
  border: 0;
  outline: none;
  padding-left: 10px;
  font-size: 21px;
  color: var(--grey);
}
.searchBar input::placeholder {
  color: var(--grey);
  font-size: 24px;
  /* height: auto; */
  align-items: right;
  /* padding-left: 1rem; */
}
.searchBar-Icon {
  /* padding: 10px; */
  /* width: 10%; */
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-name-and-search-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  width: 100%;
  /* padding-left: 20%; */
}

.header-name-container {
  display: flex;
  justify-content: center;
}
/* .onChange {
    display: block;
  } */
#title-top {
  font-family: "Karla", sans-serif;
  color: #1d3557;
  font-size: xx-large;
  font-weight: 770;
}
@media (min-width: 425px) {
  #title-top {
    text-align: left;
    font-family: "Karla", sans-serif;
    white-space: nowrap;
    margin-left: -2.5rem;
  }

  .cards-display {
    margin: 0.5rem;
  }
}
