@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap");

/* @media (min-width: 425px) { */
.alldescription {
  max-width: 100%;
  /* max-height: calc(100%-80px); */
  margin-bottom: 170px;
  /* display: flex; */
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.desccond {
  font-family: "Karla", sans-serif;
  justify-content: center;
  font-size: 30px;
  /* align-items: center; */
  /* margin-right: 0.5rem;
  margin-left: 1rem;*/
}
.hrtop {
  margin-left: 3rem;
  margin-right: 3rem;
}
.hrbot {
  margin-left: 3rem;
  margin-right: 3rem;
}
.adress {
  font-family: "Karla", sans-serif;
  display: flex;
  justify-content: left;
  /* margin-left: 3rem; */
}
.dateadress {
  display: block;
  align-items: left;
  font-size: 25px;
}
.descirptiondatelist {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: center;
}
.location {
  display: flex;
  justify-content: space-around;
}
.longdescr {
  margin-right: 2rem;
  margin-left: 2rem;
  text-align: justify;
  overflow: auto;
  font-size: 25px;
  font-family: "Karla", sans-serif;
  /* max-height: 10rem; */
  /* overflow-y: scroll; */
}
.booking {
  width: 100%;
  background-color: var(--red);
  border: none;
  color: var(--white);
  padding: 18px;
  font-size: 30px;
  font-weight: bold;
  bottom: 80px;
  left: 0;
  top: 80px;
  /* top:calc(100%-80px); */
  /* position: relative; */
  position: sticky;
  z-index: 2;
}
.pic {
  color: bisque;
  max-width: 30rem;
  max-height: 30rem;
}
.location {
  display: flex;
  font-family: "Karla", sans-serif;
  justify-content: center;
  align-items: center;
}

h6 {
  font-size: 25px;
  margin: 5px;
}
/* } */
/* @media (min-width: 768px) {
  .booking {
  position:relative;
  }
  } */
