@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&display=swap");
@media (min-width: 200px) {
  .singleEvent {
    border-radius: 1rem;
    overflow: hidden;
    width: 45%;
    float: left;
    margin: 2.5%;
    box-sizing: border-box;
    max-height: 13rem;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  img.imageEvent {
    display: inline-block;
    border: 0.1rem;
    border-radius: 5rem;
    width: 100%;
    height: 6rem;
    border-radius: 20% 10% / 0% 0%;
  }
  .titleevent {
    font-size: small;
    max-height: 3rem;
    margin-right: 1rem;
    overflow-y: scroll;
  }
  .container {
    position: relative;
    background-color: white;
  }
  .container img {
    display: block;
  }
  .eventdatelist {
    list-style-type: none;
    margin-left: -1rem;
  }
  .eventdatelist li {
    font-family: "Karla", sans-serif;
    font-weight: bold;
    color: #669bbc;
    font-size: small;
    text-align: center;
  }
  .container-bot {
    height: 5rem;
    display: flex;
    align-items: center;
    flex-direction: row;
  }
  #icon-cardList {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 1;
  }
}

@media (min-width: 1024px) {
  .singleEvent {
    border-radius: 1rem;
    overflow: hidden;
    width: 17rem;
    height: 12rem;
    margin: 2.5%;
    box-sizing: border-box;
    background-color: white;
    margin-bottom: 1rem;
    margin-top: 1rem;
    z-index: 1;
  }
  .container-bot {
    height: 5rem;
    display: flex;
    justify-content: space-around;
  }
  #icon-cardList {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    z-index: 2;
  }
}
